.section_3 {
    position: relative;
    width: 1180px;
    height: 374px;
    background: radial-gradient(98.19% 130.91% at -8.58% -1.44%, #42E8E0 5%, #40DDDA 1.57%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #180564 82.26%);
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;

    &_background {
        position: absolute;
        z-index: 1;
    }
    &_text {
        height: 80%;
    }
    &_criteria {
        height: 75%;
    }
}