.section_5 {
    width: 1180px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    &_about {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        &_text {
            display: flex;
            flex-direction: column;
            gap: 30px;

            &_title {
                color: rgba(24, 21, 75, 1);
                font-size: 36px;
                font-weight: 800;
            }
            &_main {
                font-size: 16px;
                font-weight: 400;
                color: rgba(48, 50, 57, 1);
            }
        }
    }

    &_options {
        display: flex;
        gap: 100px;
        align-items: center;
        flex-wrap: wrap;

        &_elements {
            display: flex;
            flex-direction: column;
            gap: 15px;

            &_image {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 1);
                box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
                display: flex;
                justify-content: center;
                align-items: center;

                &_blackout {
                    width: 60px;
                    height: 60px;
                    background-color: rgba(240, 245, 251, 1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }
            &_text {
                color: rgba(48, 50, 57, 1);
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}