:root {
    --mainColor: rgba(26, 11, 115, 1);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

@import "./header/_header.scss";
@import "./main/_main.scss";
@import "./main/_section_1.scss";
@import "./footer/_footer.scss";


