:root {
  --mainColor: rgba(26, 11, 115, 1);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

.header {
  width: 100%;
  height: 116px;
  position: sticky;
  box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
.header_top {
  width: 100%;
  height: 46px;
  background-color: #18154B;
  display: flex;
  justify-content: center;
}
.header_top__contacts {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
}
.header_top__contacts_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_top__contacts_title {
  color: #fff;
  font-size: 14px;
}
.header_top__social {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.header_top__social a {
  height: 26px;
}
.header_bottom {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}
.header_bottom_logo {
  text-transform: uppercase;
  height: 25px;
  font-size: 20px;
  font-weight: 800;
  background-image: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;
}
.header_bottom_nav {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.header_bottom_nav_elements {
  text-decoration: none;
  color: rgb(48, 50, 57);
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s all;
}
.header_bottom_nav_elements:hover {
  color: rgba(48, 50, 57, 0.7);
}
.header_bottom_nav_catalog {
  display: flex;
  gap: 5px;
  align-items: center;
}
.header_bottom_nav_button {
  width: 160px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%);
  color: #fff;
  transition: 0.3s all;
}
.header_bottom_nav_button:hover {
  box-shadow: 0px 4px 20px 0px rgba(26, 11, 115, 0.4);
}
.header_bottom_nav_button:active {
  background-color: var(--mainColor);
}
.header_bottom_otherFunc {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header_bottom_otherFunc_elements {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: rgb(240, 245, 251);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_bottom_otherFunc_elements__counter {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--mainColor);
  position: absolute;
  top: -5px;
  right: -5px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_container {
  width: 1180px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 80px;
}

.section_1 {
  width: 1180px;
  min-width: 300px;
  max-height: 700px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.section_1_catalog {
  width: 780px;
  min-width: 300px;
  height: 440px;
  background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section_1_catalog_background {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
}
.section_1_catalog_list {
  position: absolute;
  display: flex;
  gap: 15px;
  align-items: center;
  bottom: 30px;
  right: 20px;
}
.section_1_catalog_list_elements {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(56, 176, 193, 0.4);
  transition: 0.2s;
}
.section_1_catalog_list_elements:hover {
  width: 12px;
  height: 12px;
  background-color: rgb(56, 176, 193);
}
.section_1_catalog_list_elements:active {
  width: 12px;
  height: 12px;
  background-color: rgb(56, 176, 193);
}
.section_1_catalog_machine {
  z-index: 1000;
}
.section_1_catalog_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}
.section_1_catalog_text h1 {
  font-size: 38px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.section_1_catalog_text p {
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  align-self: start;
}
.section_1_catalog_text button {
  align-self: start;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 21, 75);
  font-size: 15px;
  font-weight: 700;
  transition: 0.3s;
}
.section_1_catalog_text button:hover {
  box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0.4);
}
.section_1_catalog_text button:active {
  background: linear-gradient(0deg, rgba(24, 21, 75, 0.15), rgba(24, 21, 75, 0.15)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
.section_1_discounts {
  width: 380px;
  min-width: 300px;
  height: 440px;
  background: radial-gradient(106.32% 141.75% at -6.32% -2.5%, #42E8E0 0%, #40DDDA 0%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #261E71 54.25%, #24156C 65.94%, #24126A 82.26%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.section_1_discounts_title {
  width: 290px;
  display: flex;
  justify-content: start;
}
.section_1_discounts_title p {
  font-size: 28px;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
.section_1_discounts_nameDiscount {
  display: flex;
  gap: 20px;
  align-items: center;
}
.section_1_discounts_nameDiscount h3 {
  font-size: 56px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.section_1_discounts_nameDiscount p {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
}
.section_1_discounts_catalog {
  display: flex;
  gap: 10px;
}
.section_1_discounts_catalog_link {
  display: flex;
  gap: 10px;
  align-self: end;
}
.section_1_discounts_catalog_link_word {
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.section_2 {
  width: 1180px;
}
.section_2_title {
  color: rgb(24, 21, 75);
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 40px;
}
.section_2_products {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}
.section_2_products_elements {
  width: 380px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section_2_products_elements_background {
  height: 170px;
  width: 130px;
  background: linear-gradient(86.02deg, #0D748B 11.79%, #1A0B73 90.28%);
  position: absolute;
  z-index: 1;
  left: 0;
  border-radius: 10px 50% 50% 10px;
}
.section_2_products_elements_image {
  z-index: 1000;
}
.section_2_products_elements_text {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.section_2_products_elements_text_catalog {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section_2_products_elements_text_catalog_title {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: rgb(24, 21, 75);
}
.section_2_products_elements_text p {
  font-size: 18px;
  font-weight: 600;
  color: rgb(48, 50, 57);
}

.section_3 {
  position: relative;
  width: 1180px;
  height: 374px;
  background: radial-gradient(98.19% 130.91% at -8.58% -1.44%, #42E8E0 5%, #40DDDA 1.57%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #180564 82.26%);
  box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section_3_background {
  position: absolute;
  z-index: 1;
}
.section_3_text {
  height: 80%;
}
.section_3_criteria {
  height: 75%;
}

.footer {
  width: 100%;
  height: 336px;
  background-color: rgb(24, 21, 75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_container {
  width: 1180px;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_information_title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 15px;
  height: 100%;
}
.footer_information_ps {
  font-size: 15px;
  font-weight: 400;
  color: rgb(184, 184, 184);
}
.footer_information_buyers {
  font-size: 16px;
  font-weight: 700;
  color: rgb(184, 184, 184);
  margin-bottom: 30px;
}
.footer_information_nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_information_nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  transition: 0.3s all;
}
.footer_information_nav a:hover {
  color: rgb(184, 184, 184);
}
.footer_information__button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  color: rgb(24, 21, 75);
  transition: 0.3s all;
  font-size: 15px;
  font-weight: 700;
  align-self: flex-end;
}
.footer_information__button:hover {
  box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0.4);
}
.footer_information__button:active {
  background: linear-gradient(0deg, rgba(24, 21, 75, 0.15), rgba(24, 21, 75, 0.15)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
.footer_information_privacyPolicy {
  color: rgb(184, 184, 184);
  font-size: 15px;
  font-weight: 400;
  text-align: right;
}
.footer_information.logo {
  align-self: flex-start;
}
.footer_information.button {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */